<div class="row m-0 border-btm" *ngIf="jobDetails && buildDetails">
  <div class="col-md-4">
    <h5 class="page-title">
      <button class="btn btn-white" [routerLink]="['/dashboard']">
        <i class="fa fa-arrow-left"></i>
      </button>
      Job Details</h5>
  </div>
</div>

<div class="row pt35" *ngIf="job">
  <div class="detail-top-part">
      <div class="job-head">
        <div class="icon-shape-md">
          {{job.name.substring(0,2).toUpperCase()}}
        </div>

        <div class="flex-1">
          <h5>{{job.name}}</h5>
          <div class="disflex">
            <!-- <h4 class="badge badge-success mb-0">
                New
            </h4> -->
            <div class="build-num" *ngIf="job.lastBuild">
              <dl>
                <dt>Build:</dt>
                <dd>#{{job.lastBuild.number}} </dd> 
              </dl>
              <dl>
                <dt>On:</dt>
                <dd>{{job.lastBuild.timestamp | date}}</dd> 
              </dl>
              <dl>
                <dt>Duration:</dt>
                <dd>{{job.lastBuild.duration}} secs </dd>
              </dl>
              <dl>
                <dt>Result:</dt>
                <dd class="badge badge-success">{{job.lastBuild.result}}</dd>
              </dl>
              <dl *ngIf="nextRunTime">
                <dt>Next Run Time:</dt>
                <dd>{{nextRunTime  | date:'medium' }}</dd>
              </dl>
            </div>
          </div>
          
        </div>
        <div class="disflex align-right" *ngIf="!currentUser.isReadonly">
          <div class="bg-stat-s">
              <img src="../../assets/images/{{job.healthReport[0].iconUrl}}" title="Stable" width="32px">
          </div>
            <button class="btn btn-primary btn-lg" 
            (click)="confirmBuild(job.name)" >
            <i class="fas fa-hammer mr-2"></i>
              Build
            </button>
        </div> 
      </div>
      <div class="job-body">
        <div class="row tpbor success-builds" *ngIf="job.lastSuccessfulBuild">
          <div class="col">
            <dt>Last Successful Build</dt>
            <dd>{{job.lastSuccessfulBuild.number}}</dd>
          </div>
          <div class="col">
            <dt>Last Successful Build Time</dt>
            <dd>{{job.lastSuccessfulBuild.timestamp | date}}</dd>
          </div>
          <div class="col">
              <dt>Last Successful Build Duration</dt>
              <dd>{{job.lastSuccessfulBuild.duration}} secs</dd>
            </div>
          <div class="col">
              <dt>Last Successful Build Result:</dt>
              <dd>{{job.lastSuccessfulBuild.result}}</dd>
          </div>
        </div>
        <div class="row tpbor unsuccess-builds" *ngIf="job.lastUnsuccessfulBuild">
            <div class="col">
              <dt>Last UnSuccessful Build</dt>
              <dd>{{job.lastUnsuccessfulBuild.number}}</dd>
            </div>
            <div class="col">
              <dt>Last UnSuccessful Build Time</dt>
              <dd>{{job.lastUnsuccessfulBuild.timestamp | date}}</dd>
            </div>
            <div class="col">
                <dt>Last UnSuccessful Build Duration</dt>
                <dd>{{job.lastUnsuccessfulBuild.duration}} secs</dd>
              </div>
            <div class="col">
                <dt>Last UnSuccessful Build Result:</dt>
                <dd>{{job.lastUnsuccessfulBuild.result}}</dd>
            </div>
          </div>
      </div>
  </div>
</div>
<div class="job-desk">
  <div class="console-nav">
      <button class="btn btn-nav btn-nav-left" (click) = "previousBuild()" tooltip="Previous" placement="top" delay="500">
          <i class="fa fa-angle-left"></i>
        </button>
        <button class="btn btn-nav btn-nav-right" (click) = "nextBuild()" tooltip="Next" placement="top" delay="500">
            <i class="fa fa-angle-right"></i>
          </button>
  </div>
  <div class="col-12 mt-4" *ngIf="consoleLog">
    <h5 class="pb-3">Console Log for Build# {{jobDetails && jobDetails.builds[counter].number ? jobDetails.builds[counter].number : '111'}} </h5>
    <div class="table table-striped" innerHTML={{consoleLog}}>  </div>
</div>

<div class="modal disblock" *ngIf="confirmdialogue" id="myModal">
  <div class="modal-dialog show">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title text-center">Confirmation</h4>
        <button type="button" (click)="confirmdialogue = false" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
          Are you sure you want to build?
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="confirmdialogue = false">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="buildJob()">Yes Proceed</button>
      </div>
      
    </div>
  </div>
</div>
<div class="modal-backdrop show" *ngIf="confirmdialogue"></div>