<div class="page-wrapper chiller-theme toggled" *ngIf="jobs">
  <app-sidebar *ngIf="showHead"></app-sidebar>
  <!-- sidebar-wrapper  -->
  <main class="" [ngClass]="{'page-content': showHead }">
    <nav class="navbar navbar-expand-lg fixed-top bg-white pl290" *ngIf="currentUser">
        <div class="form-group mb-0">
            <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                <span class="input-group-text leftrr"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control rightrr" placeholder="Search" type="text">
            </div>
        </div>
      <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto pull-right">
              
              <li class="nav-item dropdown" ngbDropdown>
                  <a class="nav-link line49" ngbDropdownToggle>
                        <i class="far fa-user-circle faruser"></i> Welcome {{currentUser.firstName}} {{currentUser.lastName}}!
                  </a>
              </li>
              <li class="nav-item dropdown" ngbDropdown>
                  <div class="mt-1" ngbDropdownMenu>
                      <button class="btn btn-outline-light mr-2" title="Refresh" (click)="refresh()">
                            <i class="fas fa-redo"></i>
                          <!-- {{'Refresh'}} -->
                      </button>
                  </div>
              </li>
              <li class="nav-item dropdown" ngbDropdown>
                  <div class="mt-1" ngbDropdownMenu>
                      <a class="btn btn-outline-light" [routerLink]="['/login']" (click)="logout()">
                        <i class="fa fa-fw fa-power-off"></i> {{'Log Out'}}
                    </a> 
                  </div>
              </li>
          </ul>
      </div>
      </nav>
      
    <router-outlet></router-outlet>
    
  </main>
  <footer class="site-footer text-center" *ngIf="showHead">
      © 2019 Jenkins UI - HP Internal and Confidential
  </footer>
  <!-- page-content" -->
</div>