<a id="show-sidebar" class="btn btn-sm btn-dark" href="javascript:">
  <i class="fas fa-bars"></i>
</a>
<nav id="sidebar" class="sidebar-wrapper">
  <div class="sidebar-content">
    <div class="sidebar-brand">
      <h4>
        <a href="javascript:">HP2B Jobs Dashboard</a>
      </h4>
    </div>
    <div class="sidebar-header">
      <div class="user-pic">
        <img class="img-responsive img-rounded" src="../../assets/images/user.jpg"
          alt="User picture">
      </div>
      <div class="user-info">
        <span class="user-name">{{currentUser.firstName}}
          <strong>{{currentUser.lastName}}</strong>
        </span>
        <span class="user-role">{{currentUser.title}}</span>
        <span class="user-status">
          <i class="fa fa-circle"></i>
          <span>Online</span>
        </span>
      </div>
    </div>
    <!-- sidebar-header  -->
    <!-- <div class="sidebar-search">
      <div>
        <div class="input-group">
          <input type="text" class="form-control search-menu" placeholder="Search...">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
    </div> -->
    <!-- sidebar-search  -->
    <div class="sidebar-menu" *ngIf="jobs && !currentUser.isReadonly">
      <ul class="mt-2">
        <li class="sidebar-dropdown">
          <a href="javascript:">
            <i class="fa fa-tachometer-alt"></i>
            <span [routerLink]="['/']">HP2B Jobs Dashboard</span>
          </a>
        </li>
      </ul>
      <ul class="mt-2" >
        <li class="header-menu">
          <span>Projects</span>
        </li>
      </ul>
      <div class="pjcts-scroll">
        <ul class="mt-2" *ngFor="let job of jobs; let i=index">
          <li>
            <a  (click) = "navigateToJob(i)">
              <i class="fa fa-cube"></i>
              <span class="job-elips">{{job.name}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- sidebar-menu  -->
  </div>
  
</nav>