<div class="page-header pt50" *ngIf="jobs.jobs && currentUser">
    <div class="row m-0 border-btm">
       <div class="col-md-12">
          <h5 class="page-title">HP2B Jobs Dashboard</h5>
          
       </div>
       <div class="col-md-6 text-right">
       </div>
    </div>
    <!-- jobs list -->
    <div class="row m-0" *ngIf="jobs">
       <div class="col-12 mt-3 mb-3">
          <div class="card job-pad w100per">
             <!-- <div class="disflex mb-3">
                  <div class="sec-title pull-left">All Builds</div>
               </div> -->
            <div class="table-responsive">
               <table class="table table-striped">
                  <thead>
                  <tr>
                     <th scope="col" *ngIf="!currentUser.isReadonly">Health Status</th>
                     <th scope="col">Name</th>
                     <!-- <th scope="col">Last Build #</th> -->
                     <th scope="col">Last Executed Time</th>
                     <th scope="col">Job Duration</th>
                     <th scope="col">Estimated Time Run</th>
                     <th scope="col" *ngIf="!currentUser.isReadonly">Last Build Result</th>
                     <th scope="col">Next Scheduled Time</th>
                     <th scope="col" *ngIf="!currentUser.isReadonly">Actions</th>
                  </tr>
                  </thead>
               <tbody>
                  <ngx-spinner></ngx-spinner>

                  <tr *ngFor="let i=index; let j of jobs.jobs;">
                     <td scope="row" *ngIf="!currentUser.isReadonly">
                        <img src="../../assets/images/{{j.healthReport[0].iconUrl}}" title="Stable" class="mr-1" width="25px">
                     </td>
                     <td class="elipsis"><a (click) = "navigateToJob(j.name)">{{j.name}}</a></td>
                     <!-- <td>{{j.lastBuild.number}} </td> -->
                     <td>{{j.lastBuild.timestamp | date: 'medium'}}</td>
                     <td>{{ j.lastBuild.duration / 1000 | durationFormat: 's':'hhmmss'}}</td>
                     <td>{{ estimatedRuns[i] ? estimatedRuns[i] : ''}}</td>
                     <td class="{{j.lastBuild.result.toLowerCase()}}-build" *ngIf="!currentUser.isReadonly">{{j.lastBuild.result}}</td>
                     <td><i class="far fa-calendar mr-1" ></i>
                        {{nextRunTimes[i] ? (nextRunTimes[i] | date:'medium') : 'N/A' }}
                     </td>
                     <td class="disflex" *ngIf="!currentUser.isReadonly">
                        <button class="btn btn-outline-light mr-2" title="View" (click)="navigateToJob(i)"><i class="far fa-eye"></i></button>
                        <button class="btn btn-success" (click)="confirmBuild(j.name)" title="Build" *ngIf="!currentUser.isReadonly"><i class="fas fa-hammer"></i></button>
                     </td>
                  </tr>
                  </tbody> 
               </table>
            </div>
         </div>
       </div>
    </div>

    <div class="modal disblock" *ngIf="confirmdialogue" id="myModal">
      <div class="modal-dialog show">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title text-center">Confirmation</h4>
            <button type="button" (click)="confirmdialogue = false" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
              Are you sure you want to build?
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="confirmdialogue = false">Close</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="buildJob()">Yes Proceed</button>
          </div>
          
        </div>
      </div>
    </div>
    <div class="modal-backdrop show" *ngIf="confirmdialogue"></div>
 </div>